body{
    background-color: #6A99DD;
  }
  
  .kotak{
      height: 10vh; /* 10% dari tinggi viewport */
      width: 100vw; /* 100% dari lebar viewport */
      background-color: #fff; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      position: absolute;
  }
  
  .menu{
    font-size: 28px;
  }
  
  .headlogo{
  
   margin-left: 4%;
    position: relative;
  }
  
  .yayasan{
    font-size: 20px;
    right: 84%;
    position: absolute;
  }
  
  .akun{
    font-size: 25px;
    right: 4%;
    position: absolute;
  }
  
  /* Style for the submenu */
  .submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
  }
  
  .menu-container.active .submenu {
    display: block;
  }
  
  .menu{
    padding-top: 4%;
    padding-left: 3%;
    font-size: 16px;
  }
  
  .Navigation{
    font-size: 15px;
  }
  
  .Penilaian{
    font-size: 15px;
  }
  
  .kotak2{
    margin-top: -0.2%;
    height: 90%; /* 10% dari tinggi viewport */
    width: 15%; /* 100% dari lebar viewport */
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
  }
  
.kotak_tambahan{
    top: 90px;
    left: 210px;
    height: 1300px;
    width: 1000px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
}

  .kotak3{
    margin-top: 8px;
    left: 103px;
    height: 1100px; 
    width: 1000px; 
    background-color:#fff; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
  }
  
  .kotak3{
    position: relative;
    top: 24px;
    left: 18%;
    height: 410px; 
    width: 30%; 
    background-color: #fff; 
    box-shadow: 0 4px 6px rgba(1, 1, 1, 1);
    border-radius: 10px;
    
  }
  
  .Name{
    font-size : 20px;
  }
  
  .NIDN{
    font-size: 17px;
  }
  
  .Status{
    font-size: 14px;
  }
  
  .koalisi{
    font-size: 15px;
  }
  
  .isi_profil{
    display: flex;
    flex-direction: column;
    align-items: center; /* Menengahkan secara horizontal */
    justify-content: center; /* Menengahkan secara vertikal */
    height: 100vh;
  }
  
  .kotak4{
  position: relative;
  top: -387px;
  left: 49%;
  height: 500px;
  width: 50%; 
  background-color: #fff; 
  box-shadow: 0 4px 6px rgba(1, 1, 1, 1);
  border-radius: 10px;
  }
  
  .Data_Utama, .Update {
  margin: 0; 
  display: inline;
  padding-top: 50px;
  padding-left: 10px;
  }
  
  .Update {
  margin-left: 10px; /* Menambahkan margin kiri */
  }
  
  .ISIS {
  margin-top: 50px; /* Menambahkan margin atas untuk menurunkan elemen */
  padding-left: 10px;
  }
  
  .Navigation{
  font-size: 15px;
  }
  
  .Dashboard{
  font-size: 15px;
  }
  
  .Profil{
  font-size: 15px;
  }
  
  .E-Portofolio{
  font-size: 15px;
  }
  
  .PusatBantuan{
  font-size: 15px;
  }
  
  .Logout{
  font-size: 15px;
  }
  
  .Penilaian{
  font-size: 15px;
  }

.kotak3,
.kotak4 {
    margin-left: -80px;
}

.tahun_masuk{
    margin-top: -400px;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
}
th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #0077b6;
    color: white;
}


.prestasi{
    margin-left: 15px;
}

.custom-email{
    width: 30%;
    margin: 0 auto;
   margin-left: 40px;
    height: 30%;
    padding-right: 100px;
    position: relative;
  }

  .prestasi input[type="text"] {
    width: 500px;
    height: 100px;
}

button{
background-color: #007BFF;
color: #fff;
border: none;
border-radius: 10px; /* Mengatur sudut bulat */
cursor: pointer;
margin-left: 40%;
margin-top: 20px;
font-size: 15px;
}